:root {
    
    --azul: '';
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;
    /* --primario: #96B6C5; */
    --primario: #b9d5e3;
    --secundario: #055262;
    --EnglishP: #CED8FC;
    --EnglishS: #041562;
    --PreguntasMundoP:#3E9642;
    --PreguntasMundoS: #0A2A1B;
    --azul: #11468F;
    --rojo: #DA1212;
    --hueso: #EEEEEE;
    --gris: #e1e1e1;
    --gris_intenso: #B7B7B7;
    --blanco: #ffffff;
    --negro: #000000;
    
}

html {
    
    box-sizing: border-box;
    font-size: 62.5%;
    
}

*,*:before,*:after {
    
    box-sizing: inherit;
    
} 

body {
    
    font-family: var(--fuenteParrafo);
    font-size: 16px;
    
}

h1 {
    
    font-size: 4rem;
    
}

h2 {
    
    font-size: 3rem;
    
}

h3 {

    font-size: 2.5rem;

}

p {
    
    font-size: 2rem;
    
}

a {
    
    text-decoration: none;
    
}


label {
    
    cursor: pointer;
}



/* GENERAL */

.iconMain {

    width: 15rem;

}

.container {
    
    background-color: var(--primario);
    box-shadow: 0px 8px 20px 1px rgba(0,0,0,0.5);
    border-radius: 0 0 1rem 1rem;
    height: 55rem;
    /* height: 76rem; */
    
}

.container_links {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    
    
}

.link_c {
    
    color: var(--secundario);
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
    
}

.link_c:hover {
    -webkit-box-shadow: 10px 10px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 18px -4px rgba(0,0,0,0.75);
    transition: 1s;
    
}

.header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: -1px 11px 25px 4px rgba(0,0,0,0.5); */
    
}

img {
    
    width: 40rem;
    border-radius: 1rem;
    
}

.contenedor_header {
    
    padding: 5rem;
    
}

.titulo_c {
    
    color: var(--secundario);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container_main {

    width: min(90%, 120rem);
    margin: 0 auto;
    text-align: justify;
}

.subtitulo {

    text-align: center;
    padding: 3rem;
    color: var(--secundario);

}

.container_question {

    border-bottom: .1rem solid rgba(0, 0, 0, 0.734);
    margin: 1rem;
    padding: 1rem;

}

.question {

    font-weight: bold;

}

.container_section {

    padding: 2rem;
    border-bottom: 0.2rem solid var(--negro);

}

.container_section:last-of-type {

    border-bottom: none;

}

button {
    
    margin: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    
}

#calificar_c {
    
    background-color: var(--primario);
    color: var(--secundario);
    border: none;
    
}

#calificar_c:hover {
    
    background-color: var(--secundario);
    color: var(--primario);
    border: none;
    transition: 1s;
    
}

#limpiar_c {
    
    background-color: var(--primario);
    color: var(--secundario);
    border: none;
    
}

#limpiar_c:hover {
    
    background-color: var(--secundario);
    color: var(--primario);
    border: none;
    transition: 1s;
    
}

.footer {
    
    background-color: var(--primario);
    padding: 5rem;
    margin-top: 6rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px -6px 20px 1px rgba(0,0,0,0.5);
    
}

.footer_container {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.img_logo_upt {
    
    width: 20rem;
    
}

.hover {

    box-shadow: 10px 10px 18px -4px rgba(0,0,0,0.75);

}

.titulo_t {
    
    color: var(--secundario);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}